@keyframes shimmer {
  0% {
    color: #4af611;
    font-size: 4rem;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3, -4px 4px #26c6da,
      -6px 6px #f48fb1;
  }
  20% {
    color: #d75702;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3;
    font-size: 3.5rem;
  }
  30% {
    color: #11e09b;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3;
    font-size: 4rem;
  }
  40% {
    color: #ac0aa1;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3;
    font-size: 4.5rem;
  }
  50% {
    color: #ef3550;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3;
    font-size: 5rem;
  }
  70% {
    color: rgb(86, 8, 79);
    font-size: 5.5rem;
  }
  90% {
    color: rgb(148, 112, 4);
    font-size: 6rem;
  }
  100% {
    color: #4af611;
    font-size: 4rem;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3, -4px 4px #26c6da,
      -6px 6px #f48fb1;
  }
}

body {
  font-family: "Share Tech", sans-serif;
  font-size: 68px;

  margin: 0;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
  font-family: "Oxygen", sans-serif;
}
.hide {
  display: none;
}
.visible {
  display: block;
}
#mainGame {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

#title {
  margin: 5rem;
  margin-bottom: 0.5rem;
  margin-top: 8rem;
  animation: start 5s 1, text-shadow-anim 4s 2;
  color: #4af611;
}

@keyframes start {
  20% {
    display: none;
  }
  30% {
    color: rgb(255, 94, 0);
    text-shadow: -1px 1px #ef3550, -2px 2px #f48fb1, -4px 4px #7e57c2,
      -6px 6px #2196f3, -8px 8px #26c6da;
  }
  40% {
    transform: rotate(0deg) scale(1.37);
    color: rgb(94, 255, 0);
    text-shadow: -1px 1px #ef3550, -2px 2px #f48fb1;
    margin-left: 30rem;
  }
  60% {
    transform: rotate(45deg) scale(0.8);
    margin-top: 15rem;
    color: #0400ff;
    text-shadow: -1px 1px #f9a825, -2px 2px #2196f3, -4px 4px #26c6da,
      -6px 6px #f48fb1;
  }
  70% {
    transform: rotate(-45deg) scale(0.97);
    color: rgb(1, 255, 238);
    text-shadow: -1px 1px #ff5722, -2px 2px #2196f3, -4px 4px #7e57c2,
      -6px 6px #f48fb1, -8px 8px #eeff41;
  }
  80% {
    transform: rotate(5deg) scale(1.45);
    color: rgb(148, 112, 4);
    text-shadow: -1px 1px #ff5722, -2px 2px #2196f3, -4px 4px #7e57c2,
      -6px 6px #f48fb1, -8px 8px #eeff41;
    margin-right: 10rem;
  }
  90% {
    transform: rotate(0deg) scale(1.2);
    color: rgb(9, 205, 81);
    margin-top: 15rem;
    text-shadow: -1px 1px #ff5722, -2px 2px #2196f3, -4px 4px #7e57c2,
      -6px 6px #f48fb1, -8px 8px #eeff41, -10px 10px #43a047, -12px 12px #26c6da;
  }
  100% {
    text-shadow: -1px 1px #ff5722, -2px 2px #2196f3, -4px 4px #7e57c2,
      -6px 6px #f48fb1, -8px 8px #eeff41;
  }
}
@keyframes text-shadow-anim {
  100% {
  }

  50% {
    text-shadow: -1px 1px #ff5722, -2px 2px #2196f3, -4px 4px #7e57c2,
      -6px 6px #f48fb1, -8px 8px #eeff41, -10px 10px #43a047, -12px 12px #26c6da,
      -14px 14px #f9a825, -16px 16px #ef3550;
  }
}

.button {
  top: 4rem;
  animation: playBtn 5s 1;
  position: relative;
  padding: 16px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color);
  border: 2px solid rgb(65, 236, 8);
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
  background-color: #000000;
}

#allCategory {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.singleCategory {
  border: 2px solid #4af611;
  width: 300px;
  height: 70px;
  background-color: #4af611;
  text-transform: uppercase;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  align-items: center;

  margin: 1.5rem;
  font-size: 2rem;
}
.singleCategory:hover {
  cursor: pointer;
  opacity: 0.5;

  border: 1px solid rgb(0, 0, 0);

  box-shadow: 0px 0px 15px 0px white;
}
.pickCategory::-webkit-scrollbar {
  display: none;
}

.button:hover {
  color: #000000;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);

  font-weight: bold;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  border-radius: 15px;
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;

  box-shadow: 0 0 10px var(--color), 0 0 20px var(--color),
    0 0 30px var(--color), 0 0 50px var(--color), 0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 40px;
  height: 4px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 4px;
  height: 40px;
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -450px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -450px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -350px;
  transform-origin: top;
}

.button:hover span:nth-child(2) {
  top: 50%;
}

.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -150px;
  transform-origin: bottom;
}

.button:hover span:nth-child(4) {
  bottom: 50%;
}

@keyframes playBtn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes myAnimation {
  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg) scale(1);
    -webkit-transform: rotate(5deg) scale(1);
  }
  70% {
    transform: rotate(-5deg) scale(0.97);
    -webkit-transform: rotate(-5deg) scale(0.97);
  }
  80% {
    transform: rotate(5deg) scale(1.05);
    -webkit-transform: rotate(5deg) scale(1.05);
  }
}

@-webkit-keyframes myAnimation {
  0%,
  50%,
  90% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg) scale(1);
    -webkit-transform: rotate(5deg) scale(1);
  }
  70% {
    transform: rotate(-5deg) scale(0.97);
    -webkit-transform: rotate(-5deg) scale(0.97);
  }
  80% {
    transform: rotate(5deg) scale(1.05);
    -webkit-transform: rotate(5deg) scale(1.05);
  }
}

.welcome {
  margin-top: 4rem;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  position: fixed;
  top: 20px;
  left: 150px;
  right: 150px;
}
.choose {
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
  animation: shimmer 5s linear infinite;
}
.choose:hover {
  cursor: pointer;
}

@keyframes magic {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    display: none !important;
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#riddle {
  display: flex;
  flex-direction: column;

  align-items: center;
}
#riddle p {
  position: relative;

  margin-top: 1rem;
  font-size: 2rem;
  color: #4af611;
  padding: 4rem 1rem;
}

#riddle p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;

  opacity: 0;
  animation: aura-animation 3s infinite;
  background-color: black;
}

@keyframes aura-animation {
  0% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 10px 0px #4af611;
    background-color: #000000;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}

#riddle h5 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 3rem;
}
input:focus {
  outline: none;
}
#riddle input {
  width: 300px;
  height: 30px;
  padding: 20px 30px;
  margin-right: 3rem;
  font-size: 2rem;
  font-family: "Share Tech", sans-serif;
  color: #000000;
  border-radius: 2rem;
  border: #4af611 2px solid;
  mask-border: 0;
}
input::selection {
  border: none;
}
#riddle button {
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;
  border-radius: 100%;
  color: white;

  background-color: transparent;
}
#riddle button:hover {
  opacity: 1;
  transform: scale(1.02);
  color: #4af611;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
}

#riddle span {
  position: absolute;
  font-size: 2rem;
  bottom: 20px;
  color: #4af611;
}

#riddle div:nth-last-child(1) {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
  border: #4af611 2px solid;
  border-radius: 2rem;
  padding: 1rem 2rem;
}
#allCategory .pickDiv {
  color: #4af611;
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}

.welcomeMessage {
  font-size: 1.3rem;
  background-color: #000000;
  color: white;
  width: 80%;

  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  text-align: justify;
  margin: 1rem 1rem;
  border-radius: 2rem;
  margin-left: 5rem;
}

@media screen and (max-width: 1000px) {
  #riddle span {
    font-size: 1rem;
    display: block;
  }
  #riddle h5 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  #riddle p {
    font-size: 2rem;
    margin: 3rem 2rem;
    text-align: center;
    border-radius: 3rem;
    padding: auto;
  }

  #riddle button {
    width: 70px;
    height: 30px;
  }
  .button span:nth-child(2) {
    left: calc(50% - 2px);
    top: -250px;
    transform-origin: top;
  }
  .button span:nth-child(3) {
    top: calc(50% - 2px);
    right: -150px;
    transform-origin: right;
  }
  .button span:nth-child(1) {
    top: calc(50% - 2px);
    left: -150px;
    transform-origin: left;
  }
  .choose {
    font-size: 2rem;
  }
  .welcomeMessage {
    font-size: 1rem;

    color: white;

    padding: 1rem 2rem;
    margin: auto 1rem;
  }

  .welcome {
    font-size: 2rem;
    left: 50px;
    right: 50px;
  }
  #title {
    font-size: 3rem;
  }
  .choose {
    font-size: 2rem;
    animation: myAnimation 4s infinite;
    color: #4af611;
    margin: 1rem;
  }
  #riddle h5 {
    font-size: 1.5rem;
  }
  #riddle input {
    width: 150px;
  }
  #riddle div {
    font-size: 1rem;
  }
}

#allCategory .pickDiv {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.pickDiv button {
  background-color: #000000;
  cursor: pointer;
  margin: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  color: wheat;
}
.pickDiv button:hover {
  transform: scale(1.03);
}
.counter {
  display: flex;
  color: white;
  font-size: 2.5rem;
  justify-content: space-between;
  width: 80%;
  position: relative;
}
.counter p {
  border-radius: 15px;
  border: #4af611 1px solid;
  padding: 1rem;
}
.picked {
  font-size: 3rem;

  display: block;
}
.counter p span {
  color: #4af611;
}
.skip {
  position: absolute;
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  background-color: #4af611;
  border-radius: 15px;
}

.skip:hover {
  transform: scale(1.03);
}

.questionPar {
  font-size: 2rem;
}
.questionContainer {
  margin-top: 6rem;
  width: 80%;
  background-color: #000000;
  color: white;
  padding: 0 2rem;
  padding-bottom: 3rem;
  border-radius: 15px;
  border: solid 3px #4af611;
}

.questionContainer input {
  width: 80%;
  color: #4af611;
  font-size: 1.5rem;
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  border-radius: 15px;
  padding: 0.5rem;
}

.submit {
  margin-left: 2rem;
  width: 6rem;
  height: 3rem;
  border-radius: 15px;
  background-color: #4af611;
}
#summary-container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 2rem;
  width: 60%;
}
#summary-container h2 {
  font-size: 1em;
  color: #4af611;
  padding: 0;
  margin: 0;
}
.question-summary {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 2rem;
  display: grid;

  background-color: #000000;
  padding: 2rem;
  border-radius: 20px;
}

.counters-container {
  font-size: 16px;
  margin-bottom: 10px;
}

.counter p {
  margin-bottom: 5px;
}
.correct-answer {
  color: #4af611;
}

.wrong-answer {
  color: red;
}
.skipped {
  color: blue;
}
.correct,
.wrong {
  font-size: 1.5rem;
  display: inline;
  padding: 0.5rem;
  color: #000000;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  margin: 2rem;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}
.welcomeMessage span {
  font-size: 2rem;
  margin: 1rem;
  color: #4af611;
}

.myButton {
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
